@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* Aplicamos Manrope como fuente principal */
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Opcional: Asegura que los títulos tengan el peso extra de Manrope */
h1, h2, h3, button {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}
